.weatherDays {
  position: absolute;
  bottom: 20px;
  left: 20px;

  text-shadow: 0px 4px 4px #346388;
  font-family: 'Lato';
  font-weight: 500;
  color: #ffffff;
  .weatherDays__city {
    font-size: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .daysList {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    .daysItem {
      box-sizing: border-box;
      width: 160px;
      background: rgba(127, 159, 181, 0.6);
      border-radius: 20px;

      padding: 13px 10px;
      transition: background ease-in-out 0.2s;
      &__date {
        font-size: 18px;
        text-align: center;
      }
      &__temp {
        text-align: center;
        font-size: 70px;
      }
      &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        span {
          margin-top: 5px;
          font-size: 26px;
        }
      }
      &-today {
        background: rgba(82, 189, 255, 0.6);
        width: 180px;
      }
    }
  }
}
