.left {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .leftBg {
    width: 100%;
    height: 700px;
    filter: blur(4px);
  }
  @import '../../components/TodayWeather/TodayWeather.scss';
  @import '../../components/WeatherDays/WeatherDays.scss';
}

.right {
  padding: 20px 100px 20px 40px;
  .btns {
    display: flex;
    button {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: #000;
      background-color: $btn-color;
      border: none;
      cursor: pointer;

      padding: 12px 23px;
      border-radius: 65px;
      transition: background-color ease-in-out 0.2s;

      margin-right: 20px;

      &:last-child {
        margin: 0;
      }

      &:hover {
        background-color: $btn-color-hover;
        color: #fff;
        transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
      }
    }
    .active {
      background-color: $btn-color-active;
      color: #fff;
    }
  }

  @import '../../components/LocationForm/LocationForm.scss';
  @import '../../components/WeatherDetails/WeatherDetails.scss';
}
