.weather {
  position: absolute;
  bottom: 100px;
  left: 100px;

  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;

  display: flex;
  gap: 30px;
  align-items: center;
  text-shadow: 0px 4px 4px #346388;
  .locateInfo {
    max-width: 300px;
  }
  .temp {
    font-size: 120px;
  }
  .city {
    font-size: 50px;
  }
  .date {
    font-size: 26px;
    max-width: 200px;
  }
  .weatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin-bottom: 8px;
      width: 90px;
      height: 90px;
    }

    span {
      font-size: 26px;
    }
  }
}
