@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Medium.woff2') format('woff2'),
    url('../assets/fonts/Lato-Medium.woff2') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff2') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff2') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
