body {
  background: $bg-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.container {
  background-color: $bg-right-color;
  box-sizing: border-box;
  max-width: 1600px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}
