@media (max-width: 1600px) {
  .left {
    .weatherDays {
      .weatherDays__city {
        font-size: 70px;
        margin-left: 70px;
        margin-bottom: 10px;
      }
      .daysList {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .left {
    .weather {
      gap: 25px;
      left: 60px;
      .locateInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .temp {
        font-size: 120px;
      }
      .city {
        font-size: 30px;
      }
      .date {
        max-width: 150px;
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 1150px) {
  body {
    overflow: scroll;
    background: none;
    padding: 0;
  }
  .container {
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    background-color: $bg-right-color;
  }
  .right {
    background-color: transparent;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-right: 40px;
    .btns {
      margin-bottom: 10px;
    }
    .locationForm {
      margin-bottom: 10px;
    }
    .capitalList {
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      li {
        font-size: 18px;
      }
    }
    .detailsTitle {
      display: block;
      font-size: 22px;
    }
    .detailsList {
      display: block;
      width: 100%;
      max-width: 400px;
    }
  }
  .left {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 130px;
    .leftBg {
      display: none;
    }
    .weather {
      position: static;
      padding-top: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .weatherDays {
      position: static;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .weatherDays__city {
        margin: 0;
        margin-bottom: 20px;
      }
      .daysList {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 620px) {
  .left {
    .weather {
      .temp {
        font-size: 100px;
      }
      .city {
        font-size: 30px;
      }
      .date {
        font-size: 20px;
      }
    }
    .weatherDays {
      .weatherDays__city {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 520px) {
  .left {
    .weather {
      .temp {
        font-size: 80px;
      }
      .city {
        font-size: 40px;
      }
      .date {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 460px) {
  .left {
    .weather {
      flex-direction: column;
      align-items: center;
    }
    .locateInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 0;
    }
    .temp {
      order: 1;
    }
    .weatherIcon {
      order: 2;
    }
  }
  .right {
    .capitalList {
      gap: 30px;
    }
    .locationForm {
      input {
        margin-right: 10px;
      }
      button:last-child {
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 380px) {
  .right {
    .capitalList {
      flex-wrap: wrap;
    }
    .locationForm {
      input {
        max-width: 200px;
      }
    }
  }
}
