/*colors*/
$bg-color: linear-gradient(
  180deg,
  rgba(151, 194, 219, 0) 0%,
  rgba(130, 184, 216, 0.206522) 0.01%,
  #3392cd 95.83%
);

$bg-right-color: rgba(52, 99, 136, 0.8);
$btn-color: #52bdff;
$btn-color-active: #346388;
$btn-color-hover: #82cbf8;
$text-color: #c3c8cc;
